<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestomb.dao.IModelDao">
    <resultMap id="BaseResultMap" type="com.bestomb.entity.Model">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="classify_id" property="classifyId" jdbcType="VARCHAR"/>
        <result column="file_address" property="fileAddress" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, classify_id, file_address
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from model
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from model
        where id IN
        <foreach item="item" collection="id" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteByClassifyId" parameterType="java.lang.String">
        delete from model
        where classify_id IN
        <foreach item="item" collection="classify_id" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insertSelective" parameterType="com.bestomb.entity.Model">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        insert into model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="classifyId != null">
                classify_id,
            </if>
            <if test="fileAddress != null">
                file_address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="classifyId != null">
                #{classifyId,jdbcType=VARCHAR},
            </if>
            <if test="fileAddress != null">
                #{fileAddress,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bestomb.entity.Model">
        update model
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="classifyId != null">
                classify_id = #{classifyId,jdbcType=VARCHAR},
            </if>
            <if test="fileAddress != null">
                file_address = #{fileAddress,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from model
        where id IN
        <foreach item="item" collection="id" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectByClassifyId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from model
        where classify_id IN
        <foreach item="item" collection="classify_id" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="countByPagination" resultType="java.lang.Long">
        select count(1) from model
        <where>
            <if test="classify_id != null and classify_id != ''">
                classify_id = #{classify_id}
            </if>
        </where>
    </select>
    <select id="selectByPagination" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from model
        <where>
            <if test="classify_id != null and classify_id != ''">
                classify_id = #{classify_id}
            </if>
        </where>
        limit ${page.pageNo}, ${page.pageSize}
    </select>
</mapper>