<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestomb.dao.IPurchaseOrderDao">
  <resultMap id="BaseResultMap" type="com.bestomb.entity.PurchaseOrder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="paid_price" jdbcType="DECIMAL" property="paidPrice" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bestomb.entity.PurchaseOrder">
    <result column="goods" jdbcType="LONGVARCHAR" property="goods" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, create_time, price, integral, paid_price
  </sql>
  <sql id="Blob_Column_List">
    goods
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from purchase_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from purchase_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bestomb.entity.PurchaseOrder">
    insert into purchase_order (id, member_id, create_time, 
      price, goods)
    values (#{id,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{goods,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bestomb.entity.PurchaseOrder">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into purchase_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goods != null">
        goods,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="paidPrice != null">
        paid_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goods != null">
        #{goods,jdbcType=LONGVARCHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="paidPrice != null">
        #{paidPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bestomb.entity.PurchaseOrder">
    update purchase_order
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goods != null">
        goods = #{goods,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bestomb.entity.PurchaseOrder">
    update purchase_order
    set member_id = #{memberId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      goods = #{goods,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bestomb.entity.PurchaseOrder">
    update purchase_order
    set member_id = #{memberId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 获取订单分页列表总数 -->
    <select id="getPageListCount" resultType="java.lang.Integer">
    	select count(1) from purchase_order
   		where member_id = #{order.memberId,jdbcType=INTEGER}
  	</select>
  	
  	<!-- 获取订单分页列表 -->
  	<select id="getPageList" resultMap="BaseResultMap">
    	select
    	<include refid="Base_Column_List" />,<include refid="Blob_Column_List" />
    	from purchase_order
   		where member_id = #{order.memberId,jdbcType=INTEGER}
    	limit ${page.start}, ${page.pageSize}
  	</select>
  	
</mapper>