<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bestomb.dao.ITombstoneDao" >
  <resultMap id="BaseResultMap" type="com.bestomb.entity.Tombstone" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="cemetery_id" property="cemeteryId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="species" property="species" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
  </resultMap>
  <!-- 自定义模型结果封装 -->
  <resultMap id="BaseResultByCustomModel" type="com.bestomb.entity.Tombstone" extends="BaseResultMap">
    <result column="file_address" property="modelAddress" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, sort, cemetery_id, member_id, type, species, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tombstone
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tombstone
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bestomb.entity.Tombstone" >
    insert into tombstone (id, sort, cemetery_id, 
      member_id, type, species, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{cemeteryId,jdbcType=INTEGER}, 
      #{memberId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{species,jdbcType=INTEGER}, 
      #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bestomb.entity.Tombstone" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(),'-','') from dual
    </selectKey>
    insert into tombstone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="cemeteryId != null" >
        cemetery_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="species != null" >
        species,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="cemeteryId != null" >
        #{cemeteryId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="species != null" >
        #{species,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bestomb.entity.Tombstone" >
    update tombstone
    <set >
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="cemeteryId != null" >
        cemetery_id = #{cemeteryId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="species != null" >
        species = #{species,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bestomb.entity.Tombstone" >
    update tombstone
    set sort = #{sort,jdbcType=INTEGER},
      cemetery_id = #{cemeteryId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      species = #{species,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <sql id="whereCondition">
    <where>
      <if test="tombstone.species != null">
        and species = #{tombstone.species, jdbcType=INTEGER}
      </if>
      <if test="tombstone.type != null">
        and type = #{tombstone.type, jdbcType=INTEGER}
      </if>
      <if test="tombstone.cemeteryId != null">
        and cemetery_id = #{tombstone.cemeteryId, jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <!-- 根据查询条件查询陵园墓碑总数 -->
  <select id="countByCondition" resultType="java.lang.Integer">
    select count(1) from tombstone
    <include refid="whereCondition" />
    order by sort asc
  </select>

  <!-- 根据查询条件查询陵园墓碑列表 -->
  <select id="selectByCondition" resultMap="BaseResultMap">
    select
    t.id, t.sort, t.cemetery_id, t.member_id, t.type, t.species, t.create_time
    ,m.file_address
    from
    tombstone t LEFT JOIN goods_use_relat gur on (t.id = gur.object_id)
    LEFT JOIN goods_official go on (gur.goods_id = go.id)
    left JOIN model m on (go.extend_attribute = m.id)
    <where>
      <if test="tombstone.species != null">
        and t.species = #{tombstone.species, jdbcType=INTEGER}
      </if>
      <if test="tombstone.type != null">
        and t.type = #{tombstone.type, jdbcType=INTEGER}
      </if>
      <if test="tombstone.cemeteryId != null">
        and t.cemetery_id = #{tombstone.cemeteryId, jdbcType=VARCHAR}
      </if>
    </where>
    order by t.sort asc
    limit ${page.start}, ${page.pageSize}
  </select>

  <!-- 根据陵园编号和墓碑种类（人物墓碑区、宠物墓碑区）查询墓区中，当前建设墓碑的位置上有没有数据 -->
  <select id="selectByPosition" resultType="java.lang.Integer">
    select
    count(1)
    from
    tombstone
    <where>
      <if test="sort != null">
        and sort = ${sort}
      </if>
      <if test="species != null">
        and species = ${species}
      </if>
      <if test="cemeteryId != null">
        and cemetery_id = ${cemeteryId}
      </if>
    </where>
  </select>

  <!-- 根据时间范围统计新增陵园总数 -->
  <select id="countByTime" resultType="java.lang.Long">
    select count(1) from tombstone
    <where>
      <if test="beginTime != null">
        and create_time <![CDATA[ > ]]> ${beginTime}
      </if>
      <if test="endTime != null">
        and create_time <![CDATA[ < ]]> ${endTime}
      </if>
    </where>
  </select>
</mapper>